{% assign patents = data %}
<div class="patents">
  {% for item in patents %}
  <div class="patent-item">
    <h5 class="patent-title">{{ item.title }}</h5>
    <h6 class="patent-number">Patent No. {{ item.number }}</h6>
    <div class="year">
      <i class="fas fa-calendar-alt mr-1"></i>
      {{ item.year }}
    </div>
    <div class="inventors">
      <i class="fas fa-users mr-1"></i>
      {{ item.inventors }}
    </div>
  </div>
  {% endfor %}
</div>

<style>
.patents {
  margin-bottom: 1.5rem;
}
.patent-item {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  border-left: 3px solid transparent;
}
.patent-item:hover {
  border-left-color: #17a2b8;
}
.patent-title {
  color: #17a2b8;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.patent-number {
  font-weight: 500;
  color: #495057;
  margin-bottom: 0.25rem;
}
.year, .inventors {
  color: #6c757d;
  margin-bottom: 0.25rem;
}
.year i, .inventors i {
  margin-right: 0.5rem;
}
</style> 